/* Common Styles or Utilities */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
.container-2 {
  margin-bottom: 28px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Top Players Style */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/*---------------------
    Top Blogs Styles 
 ----------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/*---------------------
    Courses Styles 
 ----------------------*/
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
.course {
  width: 230px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  padding: 13px 17px 16px 11px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-info span {
  font-size: 14.69px;
  color: #a2a2a2;
  font-weight: 400;
}
.course-author {
  font-family: "Roboto", sans-serif;
  font-size: 14.69px;
  color: #ed6b4f;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  display: flex;
  align-items: center;
  background: #ffe4e8;
  height: 30px;
  width: 95px;
  border-radius: 14.6913px;
}
.course-duration p {
  color: #ff4a60;
}
.fa-clock {
  font-size: 16px;
  color: #ff4a60;
  padding: 6px;
}
